@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap");

body {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.about_container {
    min-height: 100%;
}

.about_main {
    overflow: auto;
    padding-bottom: 8%;
}

.heading {
    color: white;
    font-family: "Poppins";
    font-size: 2rem;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20%;
}

.text {
    color: white;
    font-weight: 500;
    font-family: "Poppins";
    font-size: 1.5rem;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

footer {
    position: relative !important;
    height: 100px;
    margin-top: -100px;
    clear: both;
}