@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins";
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 1.2rem;
    background-image: url(background.jpg);
    background-repeat: round;
}

.container {
    border-radius: 10px;
    background: white;
    width: 100%;
    padding: 2rem;
}

.close {
    position: absolute;
    right: 0;
    color: #44859b;
    font-size: 2.5rem;
    font-weight: bold;
    transition: all 0.3s ease-out;
}

.closebtn {
    color: #44859b;
}

.close:hover {
    opacity: 70%;
}

h1, p {
    text-align: center;
}

a {
    text-decoration: none;
}