@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap");

body {
    position: relative;
    height: 100vh;
}

.cookie_container {
    min-height: 100%;
}

.cookie_main {
    overflow: auto;
    padding-bottom: 8%;
}

h1 {
    color: white;
    font-size: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20%;
}

p {
    color: white;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.5rem;
}

footer {
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}