@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

/* Geldt voor de hele webpagina */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins";
}

/* De body van de pagina */
body {
    background-color: #44859b;
    text-align: center;
}

/* Geldt voor de lists en ankers van de pagina */
li, a {
    font-weight: 500;
    font-size: 16px;
    color: white;   
    text-decoration: none;
    text-align: center;
}

/* Geldt voor de hele header van de pagina */
header {
    /* of fixed, ligt eraan */
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #44859b;
    padding: 20px 1%;
}

/* Geldt voor de logo van de pagina */
.logo {
    width: 10%;
    height: 10%;    
    top: 0;
}

/* Geldt voor de class navbar bij de unordered list van de pagina */
.navbar {
    list-style: none;
    display: flex;
    
}

.navbar li {
    display: inline-block;
}

.navbar a {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all 0.2s ease-out;
}

.navbar a:hover {
    color: #17c4be;
}

/* Geldt voor de rechterkant van de header van de pagina */
.personal {
    display: flex;
    align-items: center;
}

.personal a {
    margin-right: 10px;
    margin-left: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.2s ease-out;
}

/* Hover zorgt ervoor dat als de muis erop staat dat de  */
.personal a:hover {
    color: #17c4be;
}

/* Alle posts bij elkaar */
.posts {
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction:column-reverse;
}

.mainpage {
    align-items: center;
    position: absolute;
    height: 50vh;
    width: 60vw;
    display: flex;
    margin: 20vh 35vw;
}

.HomeImage {
    max-width: 100%;
}  

/* Geldt voor de tekst 'Latest posts' */
h1 {
    margin-top: 100px;
    margin-left: 100px;
    padding: 0;
    color: white;
    text-align: center;
    margin-left: 0;
}


.welcome {
    text-align: left;
    font-size: 50px;
}

.sign {
    text-align: left;
    margin-left: 20px;
    color: white;
}

/* Is een divisie van de pagina (1 post) */
.post_info {
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-left: 100px;
    margin-bottom: 10px;
    float: left;
    cursor: pointer;
    background-color: blanchedalmond;
    float: none !important;
    margin: 0 auto;
    padding: 5px; 
    margin-bottom: 10px;
}

/* Creeërt een kleine border wanneer een muis erop staat */
.post:hover {
    border: 1px solid black;
    border-radius: 5px;
}

/* Hoeveel ruimte er zit voor de tekst van de post (plek van de tekst)*/
.container {
    margin: 10px 10px 50px 10px;
}

/* De titel van de post */
h2 {
    text-align: left;
    color: black;
}

/* De content van de post */
p {
    text-align: left;
    color: black;
} 

/* Zorgt ervoor dat de actieve pagina een andere kleur heeft op de header */
.navbar > .active > a {
    color: #17c4be;
}

/* De tekst voor likes en datum */
.extra span {
    position: absolute;
    font-size: 15px;
    color: black;
    right: 0;
    padding: 10px;
}

/* Post button */
button {
    padding: 0 10px 0 10px;
    border-radius: 5px;
    box-shadow: #17c4be;
    box-sizing: border-box;
    border: 2px blue;
    transition: all 0.3s ease-out ;
    color: black;
    background-color: blanchedalmond;
    font-size: 20px;
    cursor: pointer;
}

a button:hover {
    color: #17c4be;
    box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
}