* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background: #44859b;
}

a {
  font-weight: 500;
  font-size: 32px;
  color: #44859b;
  text-decoration: none;
  text-align: center;
}

button {
  padding: 0 10px 0 10px;
  border-radius: 5px;
  box-shadow: #17c4be;
  transition: all 0.3s ease-out ;
  color: black;
  background-color: blanchedalmond;
  font-size: 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 5rem;
}

button:hover {
  color: #17c4be;
  box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
}

.input {
  text-align: center;
  margin: 100px auto;
}

input[type="submit"] {
  padding: 15px 30px;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.input input[type="text"] {
  width: 600px;
  height: 55px;
  padding: 5px 10px;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.card {
  width: 50%;
  background: #e7e7e7;
  height: 40vh;
  margin: 50px auto;
  border-radius: 2px;
}

.close {
  float: right;
  margin-top: -2px;
  cursor: pointer;
  margin-right: 20px;
}

.card h1 {
  padding: 5px 0;
  text-align: center;
}

.card p {
  text-align: center;
  margin: 40px 0;
  font-size: 20px;
}
