@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap");

.topics_container {
    min-height: 100%;
}

.topics_main {
    overflow: auto;
    padding-bottom: 8%;
}

.welcome_main {
    align-items: center;
    position: absolute;
    width: 60vw;
    display: flex;
    margin: 20vh 35vw;
    overflow: auto;
}

.HomeImage {
    max-width: 100%;
    margin-top: 50px;
}

.welcome {
    text-align: left;
    font-size: 50px;
}

.sign {
    text-align: left;
    margin-left: 20px;
    color: white;
}

select {
    width: 20%;
    text-align: left;
    padding: 6px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    text-align: center;
    background-color: blanchedalmond;
}

input[type="submit"] {
    background-color: blanchedalmond;
    color: black;
    padding: 8px 12px 5px 0;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    transition: all 0.3s ease-out;
    border-radius: 3px;
}

input[type="submit"]:hover {
    opacity: 70%;
}

.sign {
    text-align: left;
    margin-left: 20px;
    color: white;
}
