@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

/* Alle posts bij elkaar */

.posts {
    padding-top: 100px;
}

/* Is een divisie van de pagina (1 post) */
.post {
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: blanchedalmond;
    padding: 2px 16px;
    margin: auto;
    margin-top: 40px;
    word-wrap: break-word;
}

.user_post_container {
    min-height: 100%;
}

.user_post_main {
    overflow: auto;
    padding-bottom: 8%;
}

/* De titel van de post */
h2 {
    text-align: left;
    color: black;
}

/* De content van de post */
p {
    text-align: left;
    color: black;
} 

div {
    display: block;
}

/* Zorgt ervoor dat de actieve pagina een andere kleur heeft op de header */
.navbar > .active > a {
    color: #17c4be;
}

/* De tekst voor likes en datum */
.extra span {
    font-size: 1rem;
    color: black;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.delete_button {
    padding: 0 0.6rem 0 0.6rem;
    margin-bottom: 0.3rem;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease-out ;
    color: black;
    background-color: #44859b;
    font-size: 1.3rem;
    cursor: pointer;
    margin-right: 35rem
}

.delete_button:hover {
    color: white;
    box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
}

.unlike, .like {
    color: blue;
}

.hide {
	display: none;
}

.fa-thumbs-up, .fa-thumbs-o-up {
	transform: rotateY(-180deg);
	font-size: 1.3em;
	cursor: pointer;
}

.fa-thumbs-down, .fa-thumbs-o-down {
	transform: rotateY(-180deg);
	font-size: 1.3em;
	cursor: pointer;
}

.comment_content {
    width: 55%;
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: blanchedalmond;
    padding: 1rem 2rem;
    margin: auto;
    margin-top: 2px;
    word-wrap: break-word;
}

.comment_message {
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: white;
    padding: 0.3rem;
    margin-top: 0px;
    float: left;
    word-wrap: break-word;
}

.comment_btn {
    background-color: white;
    font-size: 1rem;
    transition: all 0.3s ease-out;
}

.comment_btn:hover {
    color: white;
    background-color: #44859b;
}

.comment_container {
    width: 45%;
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: blanchedalmond;
    padding: 2px 16px;
    margin: auto;
    margin-top: 2px;
    word-wrap: break-word;
}

.extra {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto;
    align-items: center;
}

.extrainfo {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto;
    align-items: center;
}