@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

/* Alle posts bij elkaar */
.posts {
    max-width: 100%;
    margin: 0;
    padding-top: 100px;
}

/* Is een divisie van de pagina (1 post) */
.post {
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: blanchedalmond;
    padding: 2px 16px;
    margin: auto;
    margin-top: 40px;
    word-wrap: break-word;
}

.container {
    min-height: 200px;
    word-wrap: break-word;
}

/* Creeërt een kleine border wanneer een muis erop staat */
.post:hover {
    border: 1px solid black;
    border-radius: 5px;
}

/* De titel van de post */
h2 {
    text-align: left;
    color: black;
}

/* De content van de post */
p {
    text-align: left;
    color: black;
} 

div {
    display: block;
}

/* Zorgt ervoor dat de actieve pagina een andere kleur heeft op de header */
.navbar > .active > a {
    color: #17c4be;
}

/* De tekst voor likes en datum */
.extra span {
    position: absolute;
    font-size: 1rem;
    color: black;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.button {
    padding: 0 0.6rem 0 0.6rem;
    margin-bottom: 0.3rem;
    border-radius: 5px;
    box-shadow: #17c4be;
    box-sizing: border-box;
    /* border: 2px solid blue; */
    transition: all 0.3s ease-out ;
    color: black;
    background-color: #44859b;
    font-size: 1.3rem;
    cursor: pointer;
}

.button:hover {
    color: white;
    box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
}

.content {
    width: 55%;
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: blanchedalmond;
    padding: 2px 16px;
    margin: auto;
    margin-top: 2px;
    word-wrap: break-word;
}

.message {
    width: 78%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: white;
    padding: 2px 16px;
    margin-top: 0px;
    float: left;
    word-wrap: break-word;
}

.btn {
    background-color: purple;
}


footer {
    position: fixed !important;
}

